body{
    display: flex;
    flex-direction: column;
}

.notification{
    position: absolute;
    width: 300px;
    height: 45px;
    margin-left: 598px;
    margin-top: 140px;

    border: 2px solid black;
    border-radius: 6px;
    background-color: #292929;
}

.text-notification{
    margin-top: 12px;

    text-align: center;
    color: #dbdbdb;
}

.button{
    width: 200px;
    height: 100px;
    margin-left: 650px;
    margin-top: 200px;

    font-size: 30px;
}
