body{
    background-color: #b9b4b4;
}

.images{
    display: flex;
    height: 400px;
    width: 200px;
}

.images-rectangle{
    height: 400px;
    width: 500px;
}

.images-square{
    height: 400px;
    width: 200px;
}